<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Product Manager</title>
</head>
<body>
<div align="center">
    <h1>Employees List</h1>
    <a href="new">Create New Employee</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th> ID</th>
                <th>Name</th>
                <th>RollNo</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${employees}">
            	<td th:text="${product.id}"> ID</td>
                <td th:text="${product.name}">Name</td>
                <td th:text="${product.rollno}">RollNo</td>
                <td th:text="${product.address}">Address</td>
                <td>
                	<a th:href="@{'/edit/' + ${product.id}}">Edit</a>
                	&nbsp;&nbsp;&nbsp;
                	<a th:href="@{'/delete/' + ${product.id}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>    
</body>
</html>